<p>admin-page works!</p>
<!-- isLoggedIn: {{isLoggedIn}} -->
<!-- <br>
userName: {{userName}}
<br> -->
<!--
uploadProfilePicResponseBody {{uploadProfilePicResponseBody | json}}
uploadProfilePicResponseHeaders {{uploadProfilePicResponseHeaders}}
-->
<main>
    <img class='img-thumbnail' src={{profileImgSrc}}>
    <div>
        <form [formGroup] = "uploadForm" (ngSubmit)="onUploadProfilePic()">      
            <div>
                <label>Change Profile Picture</label>
                <input type="file" name="avatar" (change)="onFileSelect($event)" />
                <!--
                <input type="file" name='avatar' placeholder="Select file"/>
                -->
            </div>
            <div>
                <button type="submit">Upload</button>
            </div>
        </form>
    </div>
    <h1>UserName: {{userName}}</h1>
    <!--
    <p> User Intro: A happy person </p>
    <p> Twitta Handle: @iamaperson</p>
    <p> Profile Page Intro: Happy go lucky is my way of life</p>
        <p> Born December 26 </p>
        <p> Joined: July 2020</p>

    <p>20 Following</p>
    <p>161 Followers</p>
-->
<hr>
    <p>Tweets: {{twitsCount | json}} tweets</p>
<hr>
<h2>Tweet Form:</h2>
    <form [formGroup]='twitForm'>
        <!--
        <label for='name'>Name</label>
        <input type='text' id='name' name='name' fCN='userName' />
        -->
        <!-- <br><br> -->
        <!--<label for='content'>Twitt</label> -->
        <textarea id='content' name='content' formControlName='content'></textarea>
        <br><br>
        <button type='button' [disabled]='!twitForm.valid' (click)='onSendTwit()'>Send your tweets! 💌</button>
    </form>


    <hr>
    <h2>Past Tweets: </h2>
    <div *ngIf="twitsGetResponseBody.results">
        <div *ngFor="let item of twitsGetResponseBody.results">
        <!--    <p><span>User Name: </span>{{item.userName}}</p> -->
            <p><span>Comment: </span>{{item.comment}}</p>
            <p><span>Date Posted: </span>{{item.created}}</p>
        </div>
    </div>

    <div [style.display]="'none'" #spinner>
        <mat-spinner></mat-spinner>
    </div>
<!--
    {{ twitForm.value | json }}
    <br>
    {{ twitPostResponseHeaders }}
    <br>
    {{ twitPostResponseBody | json }}

    <hr>

    {{ twitsGetResponseHeaders }}
    <br>
    {{ twitsGetResponseBody | json}}
-->
    <hr>

    <h2>Group Chat</h2>

    <form [formGroup]="form">
    <table>
        <tr>
        <td>Join Chat:</td>
        <td><!--
            <input type="text" size="30" placeholder="Your name" formControlName="username">-->
            <button type="button" (click)="toggleConnection()">
            <span [innerHTML]="text"></span>
            </button>
        </td>
        </tr>
        <tr>
        <td>Message:</td>
        <td>
            <input type="text" size="50" placeholder="Your message" formControlName="message">
            <button type="button" (click)="sendMessage()">
            Send
            </button>
        </td>
        </tr>
    </table>
    </form>

    <h3>Group Chatroom:</h3>
    <div *ngFor="let m of messages">
    <code>{{ m.from }}  </code>
    <span>{{ m.message }}</span>
    </div>

</main>