<p>admin-page works!</p>
isLoggedIn: {{isLoggedIn}}
<br>
uploadProfilePicResponseBody {{uploadProfilePicResponseBody | json}}
uploadProfilePicResponseHeaders {{uploadProfilePicResponseHeaders}}

<main>
    <img src={{profileImgSrc}}>
    <h1>UserName: Iam A. Person</h1>
    <p> User Intro: A happy person </p>
    <p> Twitta Handle: @iamaperson</p>
    <p> Profile Page Intro: Happy go lucky is my way of life</p>
        <p> Born December 26 </p>
        <p> Joined: July 2020</p>

    <p>20 Following</p>
    <p>161 Followers</p>

 
    <div>
        <form [formGroup] = "uploadForm" (ngSubmit)="onUploadProfilePic()">      
            <div>
                
                <input type="file" name="avatar" (change)="onFileSelect($event)" />
                <!--
                <input type="file" name='avatar' placeholder="Select file"/>
                -->
            </div>
            <div>
                <button type="submit">Upload</button>
            </div>
        </form>
    </div>


    <form [formGroup]='twitForm'>
        <label for='name'>Name</label>
        <input type='text' id='name' name='name' formControlName='userName' />
        <br><br>
        <label for='content'>Twitt</label>
        <textarea id='content' name='content' formControlName='content'></textarea>
        <br><br>
        <button type='button' [disabled]='!twitForm.valid' (click)='onSendTwit()'>Send your twitt 💌</button>
    </form>

    <hr>
    <div *ngIf="twitsGetResponseBody.results">
        <div *ngFor="let item of twitsGetResponseBody.results">
            <p>{{item.userName}}</p>
            <p>{{item.comment}}</p>
            <p>{{item.created}}</p>
        </div>
    </div>

    <div [style.display]="'none'" #spinner>
        <mat-spinner></mat-spinner>
    </div>

    {{ twitForm.value | json }}
    <br>
    {{ twitPostResponseHeaders }}
    <br>
    {{ twitPostResponseBody | json }}

    <hr>

    {{ twitsGetResponseHeaders }}
    <br>
    {{ twitsGetResponseBody | json}}

</main>