<p>twit-posts-page works!</p>
<!-- http://localhost:4200/twit-posts/1 -->
<main>
    <h1>UserName: {{userName}}'s Tweets</h1>
<hr>
<div *ngIf="twitsGetResponseBody.results">
    <div *ngFor="let item of twitsGetResponseBody.results">
        <p><span>Username: </span>{{item.userName}}</p>
        <p><span>Comment: </span>{{item.comment}}</p>
        <p><span>Date Posted: </span>{{item.created}}</p>
    </div>
</div>

    <div [style.display]="'none'" #spinner>
        <mat-spinner></mat-spinner>
    </div>

    <!--{{ twitForm.value | json }}-->
<!--    <br>
    {{ twitPostResponseHeaders }}
    <br>
    {{ twitPostResponseBody | json }}

    <hr>

    {{ twitsGetResponseHeaders }}
    <br>
    {{ twitsGetResponseBody | json}}
-->
</main>