<h1> App Component </h1>

<mat-toolbar  color='primary' class='navbar d-flex'> <!-- fxLayoutAlign="space-between center" -->
  <div > Twitta 🧸</div>
  <div>
    <span [routerLink]="[ '/landing' ]" class='small'>Home</span>
    <span [routerLink]="[ '/about' ]" class='small'>About</span>
    <span [routerLink]="[ '/sign-up' ]" class='small'>Sign Up</span>
    <span [routerLink]="[ '/login' ]" class='small'>Login</span> <!-- toggle -->
    <span [routerLink]="[ '/admin' ]" class='small'>Admin</span>
    <span [routerLink]="[ '/browse-users' ]" class='small'>Browse Users</span>
    <span (click)='onLogout()' class='small'>Logout</span>
  </div>
</mat-toolbar>

<div class='container border'>
  <div class="d-flex mt-5 justify-content-center">
    <router-outlet></router-outlet>
  </div>
</div>