<p>password-reset-page works!</p>

<form [formGroup]='passwordResetForm'>
    <div class="form-component-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" required formControlName='email'>
          <mat-error *ngIf="passwordResetForm.get('email').invalid">{{getErrorMessageEmail()}}</mat-error>
          Email is invalid: {{ passwordResetForm.get('email').invalid }}
        </mat-form-field>
    </div>
    
    <button mat-raised-button color="primary" [disabled]='passwordResetForm.invalid' (click)="onResetPassword()">Confirm</button>
    passwordResetForm is invalid: {{passwordResetForm.invalid}}

    <p>{{resetPasswordPostResponseHeaders | json}}</p>
    <p>{{resetPasswordPostResponseBody | json}}</p>

</form>