<p>landing-page works!</p>

Welcome to Twitta!

<h1>Trending News</h1>

<form class="d-flex flex-column" name='numArticlesForm' #numArticlesForm="ngForm">
    <h4>Select number of trending news articles to display</h4>
    <mat-form-field appearance="fill">
      <mat-label>Number Of Articles</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="numberOfArticles" required>
        <mat-option *ngFor="let number of numbers" [value]="number.value">
          {{number.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;
    <button mat-raised-button color="primary" [disabled]='numArticlesForm.invalid' (click)="getArticles()" >Get Articles</button>
    
    <br>
    numArticlesForm is invalid: {{numArticlesForm.invalid}} 
    <br>
    selectedValue: {{selectedValue}}

</form>

<div class="d-flex flex-column">
    <div class="p2" *ngFor="let item of articlesGetResponseBody">
        <p ><img class="rounded img-fluid mx-auto d-block" src={{item.urlToImage}}></p>
        <p >Source Name: {{item.source.name}}</p>
        <p >Author: {{item.author}}</p>
        <p >Title: {{item.title}}</p>
        <p >Description: {{item.description}}</p>
        <p >URL: <a href="{{item.url}}">{{item.url}}</a></p>

        <p >Published At: {{item.publishedAt}}</p>
        <p >Content: {{item.content}}</p>
        <hr />
    </div>
</div>